:host {
  display: block;
  padding: 6px;
  min-height: 500px;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.header {

  & > .logo {
    height: 64px;
    width: 64px;
    margin-right: 6px;
  }

  .title {
    line-height: 28px;
    font-size: 22px;
    font-weight: 1.2;
    cursor: default;
  }

  .bonus {
    height: 32px;
    align-items: center;

    img {
      height: 17px;
      width: 17px;
      margin-right: 1px;
    }

    .research {
      text-align: right;
      width: 1.13em;
      border-radius: 0;
      padding: 0 1px;
      color: #3371b6;
      background-color: transparent;
      border-width: 0 0 1px 0;
      border-style: none none solid none;
      border-color: #b6b6b6;
      outline: none;
      font-weight: bold;
      transition: border-color .5s;
      -moz-appearance: textfield;

      &:focus {
        border-color: #3371b6;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .percent {
      color: #3371b6;
      margin-right: 6px;
      cursor: default;
    }
  }
}

.material-tab {
  height: 120px;
  overflow: auto;
  cursor: default;

  table {
    width: 100%;
    font-size: 14px;
  }

  .material-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    .material-logo {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
  }

  tr:hover {
    background: whitesmoke;
  }

}

.sub-title {
  margin: 6px 0;
  font-size: 20px;
  align-items: center;
  cursor: default;
}

.product {
  align-items: center;
  cursor: default;

  & > .logo {
    width: 64px;
    height: 64px;
  }

  & > .name {
    font-size: 20px;
    margin: 6px 0;
  }
}


.grid {
  cursor: default;

  .name, .value {
    margin: 1em 0;
  }

  .name {
    width: 100%;
    text-align: right;
  }

  .value {
    width: 100%;
    text-align: left;
    font-weight: bold;
  }
}
/* 修改表格默认样式 */

tr.mat-header-row, tr.mat-row {
  height: unset !important;
}

.mat-header-cell, .mat-cell {
  padding: 1px !important;
}
