<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>基础设置</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="label">中介费</div>
      <div class="input">
        <input #agencyFee class="number-input" style="width: 37px;" type="number" numberOnly float min="1" max="5" value="3.15" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">销售税</div>
      <div class="input">
        <input #salesTax class="number-input" style="width: 37px;" type="number" numberOnly float min="2.25" max="5" value="2.25" /> %
      </div>
    </div>
    <p>星系成本</p>
    <p>制造税</p>
    <p>开发中</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>加成设置</mat-panel-title>
    </mat-expansion-panel-header>
    <p>技能</p>
    <p>建筑</p>
    <p>植入体</p>
    <p>开发中</p>
  </mat-expansion-panel>
</mat-accordion>
