:host {
  display: flex;
  min-width: 1280px;
  height: 100%;
}

:host ::ng-deep .custom-list-style {

  .mat-list-item-content {
    padding: 0 5px !important;

    .mat-list-text {
      padding-right: 0 !important;
    }
  }
}

.search {
  width: 220px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid #a2a2a2;

  .mat-form-field {
    padding: 0 10px;
  }

  .list {
    flex-grow: 1;

    .virtual-scroll-viewport {
      height: 100%;
      width: 100%;

      & > ::ng-deep.cdk-virtual-scroll-content-wrapper {
        width: 100% !important;
      }

      .item {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          margin-right: .5em;
        }

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          user-select:none;
          width: 100%;
        }
      }
    }
  }
}

.tabs {
  flex-grow: 1;
  background-color: #f3f3f3;
  overflow: auto;

  .tab-close-btn {
    color: black;
  }
}

.bonus {
  width: 220px;
  flex-shrink: 0;
  padding: 0 6px;
}
