<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>基础设置</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="label">中介费</div>
      <div class="input">
        <input #agencyFee class="number-input" style="width: 37px;" type="number" numberOnly float min="1" max="5" value="3.15" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">销售税</div>
      <div class="input">
        <input #salesTax class="number-input" style="width: 37px;" type="number" numberOnly float min="2.25" max="5" value="2.25" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">星系成本</div>
      <div class="input">
        <input #systemCost class="number-input" style="width: 37px;" type="number" numberOnly float min="0" max="20" value="15" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">制造税</div>
      <div class="input">
        <input #facilityTax class="number-input" style="width: 37px;" type="number" numberOnly float min="0" max="20" value="10" /> %
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>单价设置</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>单价获取方式</mat-label>
      <mat-select [(value)]="getPriceMethod" (valueChange)="getPriceMethodChange($event)">
        <mat-option [value]="0">
          按最低卖价
        </mat-option>
        <mat-option [value]="1">
          按最高买价
        </mat-option>
      </mat-select>
      </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>建筑设置(开发中)</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="label">材料需求降低</div>
      <div class="input">
        <input #test1 class="number-input" style="width: 37px;" type="number" numberOnly min="0" max="20" value="0" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">时间需求降低</div>
      <div class="input">
        <input #test2 class="number-input" style="width: 37px;" type="number" numberOnly min="0" max="20" value="0" /> %
      </div>
    </div>
    <div class="row">
      <div class="label">星币需求降低</div>
      <div class="input">
        <input #test3 class="number-input" style="width: 37px;" type="number" numberOnly min="0" max="20" value="0" /> %
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
