<!-- 等待查询结果占位用 -->
<ng-template #queryTemplete>
  查询中
</ng-template>
<!-- 等待计算结果占位用 -->
<ng-template #calcTemplete>
  计算中
</ng-template>
<div class="hbox header">
  <img class="logo" [src]="'https://image.evepc.163.com/Type/' + bluePrint.id + '_64.png'">
  <div class="vbox">
    <div class="title">{{ bluePrint.name }}</div>
    <div class="hbox bonus">
      <img src="../../../assets/iconME.png" />
      <input type="number" class="research material" numberOnly min="0" max="10" value="10" (input)="updateResearchMaterial($event.target.value)" />
      <span class="percent">%</span>
      <img src="../../../assets/iconTE.png" />
      <input type="number" class="research material" numberOnly min="0" max="20" value="20" (input)="updateResearchTime($event.target.value)" />
      <span class="percent">%</span>
      <label style="color: #3573b5;margin-right: 6px;">项目流程数:</label>
      <input class="number-input" style="width: 37px;" type="number" numberOnly min="1" max="99999" value="1" (input)="updateNumberOfProjects($event.target.value)" />
      <label style="color: #3573b5;margin-left: 6px;margin-right: 6px;">生产线:</label>
      <input class="number-input" style="width: 22px;" type="number" numberOnly min="1" max="999" value="1" (input)="updateProductionLines($event.target.value)" />
      <label style="color: #3573b5;margin-left: 6px;margin-right: 6px;">项目周期/条: {{ totalTimeStr }}</label>
    </div>
  </div>
</div>
<div class="vbox">
  <div class="hbox sub-title">
    <span>所需材料</span>
    <button mat-icon-button style="width: 24px;height:24px;line-height: 24px;" aria-label="复制材料清单" matTooltip="复制材料清单" (click)="onCopy()">
      <mat-icon style="color: #3573b5;">file_copy</mat-icon>
    </button>
  </div>
  <div class="material-tab">
    <table mat-table [dataSource]="materials" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 名称 </th>
        <td mat-cell *matCellDef="let element">
          <div class="material-name">
            <img class="material-logo" [src]="'https://image.evepc.163.com/Type/' + element.id + '_64.png'" />
            <span>{{ element.name }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 总数量 </th>
        <td mat-cell *matCellDef="let element"> {{ getTotalQuantity(element) | number: '1.0-0' }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 市场单价 </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.price.getValue() != -1; else queryTemplete">
            {{ element.price | async | number:'1.2-2' }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 总价 </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.price.getValue() != -1; else queryTemplete">
            {{ getTotalPrice(element) | async | number:'1.2-2' }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalVolume">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 总体积 </th>
        <td mat-cell *matCellDef="let element"> {{ getTotalQuantity(element) * element.volume | number:'1.2-2' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="hbox sub-title">
    <span>产出</span>
  </div>
  <div class="vbox product">
    <img class="logo" [src]="'https://image.evepc.163.com/Type/' + product.id + '_64.png'">
    <span class="name">{{ product.name }}</span>
    <div class="hbox">
      <span>数量: <strong>{{ productTotalQuantity }}</strong></span>
      <span style="margin-left: 6px;">市场单价:
        <strong>
          <ng-container *ngIf="product.price.getValue() != -1; else queryTemplete">
            {{ product.price.getValue() | number: '1.2-2' }}
          </ng-container>
        </strong>
      </span>
      <span style="margin-left: 6px;">成本价/件:
        <strong>
          <ng-container *ngIf="productCost != null; else calcTemplete">
            {{ productCost | number: '1.2-2' }}
          </ng-container>
        </strong>
      </span>
    </div>
  </div>
</div>
<div class="vbox">
  <div class="sub-title">
    费用计算
  </div>
  <mat-grid-list class="grid" cols="4" rowHeight="20px">
    <mat-grid-tile>
      <div class="name">材料预估价格: </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="value">
        <ng-container *ngIf="materialTotalPrice != null; else calcTemplete">
          {{ materialTotalPrice | number:'1.2-2' }}
        </ng-container>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="name">产出预估价格: </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="value">
        <ng-container *ngIf="productTotalPrice != null; else calcTemplete">
          {{ productTotalPrice | number:'1.2-2' }}
        </ng-container>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="name">预估总利润: </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="value">
        <ng-container *ngIf="totalProfit != null;else calcTemplete">
          {{ totalProfit | number: '1.2-2' }}
        </ng-container>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="name">预估利润率: </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="value">
        <ng-container *ngIf="profitMargin != null; else calcTemplete">
          {{ profitMargin | number: '1.2-2' }}%
        </ng-container>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
